In [1]:
# Taken from Copilot, adapted to fit requirements of use case

import tkinter as tk
import pandas as pd

# Example DataFrames
df_left = pd.DataFrame({"company_id":[1,2,3], "tsx_ticker":["AAPL","MSFT","TSLA"] ,"company_name":["Apple","Microsoft","Tesla"]})
df_right = pd.DataFrame({"company_s":["APL", "FIG"], "company_n":["Apple", "Figma"], "date_created": ["2025-11-30"]*2})

# DataFrame to store matches
df_matches = pd.DataFrame()

def match_rows():
    global df_left, df_right, df_matches

    left_idx = left_listbox.curselection()
    right_idx = right_listbox.curselection()
    if not left_idx or not right_idx:
        return  # require a selection on both sides

    # Extract full rows
    left_row = df_left.iloc[left_idx[0]]
    right_row = df_right.iloc[right_idx[0]]

    # Combine into one row (prefix columns to avoid collisions)
    combined = pd.concat([left_row, right_row])

    # Append to matches DataFrame
    df_matches = pd.concat([df_matches, combined.to_frame().T], ignore_index=True)

    # Show match in Matches window
    match_listbox.insert(
        tk.END,
        f"{left_row['tsx_ticker']} - {left_row['company_name']} â†” {right_row['company_s']} - {right_row['company_n']}"
    )

    # Drop matched rows from original DataFrames
    df_left = df_left.drop(left_row.name).reset_index(drop=True)
    df_right = df_right.drop(right_row.name).reset_index(drop=True)

    # Remove matched rows from listboxes
    left_listbox.delete(left_idx[0])
    right_listbox.delete(right_idx[0])

    # Clear selections
    left_listbox.selection_clear(0, tk.END)
    right_listbox.selection_clear(0, tk.END)

def finish_process():
    # Print matches
    print("The following rows were matched:")
    print(df_matches)

    root.destroy()  # close the GUI cleanly

root = tk.Tk()
root.title("Row Matcher: Match rows if necessary")

# Left Listbox
left_listbox = tk.Listbox(root, selectmode="browse", exportselection=False)
for _, row in df_left.iterrows():
    left_listbox.insert(tk.END, f"{row['tsx_ticker']} - {row['company_name']}")
left_listbox.pack(side="left", padx=10, pady=10, fill="y")

# Right Listbox
right_listbox = tk.Listbox(root, selectmode="browse", exportselection=False)
for _, row in df_right.iterrows():
    right_listbox.insert(tk.END, f"{row['company_s']} - {row['company_n']}")
right_listbox.pack(side="right", padx=10, pady=10, fill="y")

# Match button
btn = tk.Button(root, text="Match", command=match_rows)
btn.pack(pady=10)

# Finished button
finish_btn = tk.Button(root, text="Finished", command=finish_process, bg="lightgreen")
finish_btn.pack(pady=10)

# Matches window
matches_win = tk.Toplevel(root)
matches_win.title("Matches")
match_listbox = tk.Listbox(matches_win, width=60, exportselection=False)
match_listbox.pack(padx=10, pady=10, fill="both")

root.mainloop()

The following rows were matched:
  company_id tsx_ticker company_name company_s company_n date_created
0          1       AAPL        Apple       APL     Apple   2025-11-30

In [10]:
df_matches

  company_id tsx_ticker company_name company_s company_n date_created
0          1       AAPL        Apple       APL     Apple   2025-11-30

In [3]:
df_left

   company_id tsx_ticker company_name
0           2       MSFT    Microsoft
1           3       TSLA        Tesla

In [2]:
df_right

  company_s company_n date_created
0       FIG     Figma   2025-11-30