In [1]:
import yfinance as yf
from datetime import datetime, timedelta

In [2]:
ticker_list = ['BMO.TO', 'TD.TOZO'] # One valid, one invalid
tickers = yf.Tickers(ticker_list)

In [9]:
df = tickers.history(start='2025-12-01', end='2025-12-02')

$TD.TOZO: possibly delisted; no timezone found
[*********************100%***********************]  2 of 2 completed

1 Failed download:
['TD.TOZO']: possibly delisted; no timezone found

In [19]:
df

Price      Adj Close       Close         Dividends    High          \
Ticker       TD.TOZO      BMO.TO TD.TOZO    BMO.TO  BMO.TO TD.TOZO
Date
2025-12-01       NaN  173.820007     NaN       0.0  176.25     NaN

Price              Low                Open         Stock Splits   Volume  \
Ticker          BMO.TO TD.TOZO      BMO.TO TD.TOZO       BMO.TO   BMO.TO
Date
2025-12-01  172.880005     NaN  175.800003     NaN          0.0  1836100

Price
Ticker     TD.TOZO
Date
2025-12-01     NaN

In [20]:
# Longer history:
tickers.history(start='2025-12-01', end='2025-12-10') # Still not adj close

$TD.TOZO: possibly delisted; no timezone found
[*********************100%***********************]  2 of 2 completed

1 Failed download:
['TD.TOZO']: possibly delisted; no timezone found

Price      Adj Close       Close         Dividends        High          \
Ticker       TD.TOZO      BMO.TO TD.TOZO    BMO.TO      BMO.TO TD.TOZO
Date
2025-12-01       NaN  173.820007     NaN       0.0  176.250000     NaN
2025-12-02       NaN  175.779999     NaN       0.0  176.380005     NaN
2025-12-03       NaN  177.020004     NaN       0.0  177.210007     NaN
2025-12-04       NaN  176.820007     NaN       0.0  178.949997     NaN
2025-12-05       NaN  178.240005     NaN       0.0  179.570007     NaN
2025-12-08       NaN  175.449997     NaN       0.0  177.850006     NaN
2025-12-09       NaN  175.229996     NaN       0.0  176.720001     NaN

Price              Low                Open         Stock Splits   Volume  \
Ticker          BMO.TO TD.TOZO      BMO.TO TD.TOZO       BMO.TO   BMO.TO
Date
2025-12-01  172.880005     NaN  175.800003     NaN          0.0  1836100
2025-12-02  173.869995     NaN  174.350006     NaN          0.0  3205700
2025-12-03  175.750000     NaN  175.750000     NaN          0.0  2179700
2025-12-04  171.779999     NaN  177.850006     NaN          0.0  4027600
2025-12-05  177.020004     NaN  177.210007     NaN          0.0  2410600
2025-12-08  175.199997     NaN  177.520004     NaN          0.0  3724800
2025-12-09  175.050003     NaN  175.949997     NaN          0.0  2020500

Price
Ticker     TD.TOZO
Date
2025-12-01     NaN
2025-12-02     NaN
2025-12-03     NaN
2025-12-04     NaN
2025-12-05     NaN
2025-12-08     NaN
2025-12-09     NaN

In [2]:
valid_tickers = yf.Tickers(["TD.TO", "BMO.TO"])

In [22]:
# What about with two valid tickers?
valid_tickers.history(start='2025-12-01', end='2025-12-10')

[*********************100%***********************]  2 of 2 completed

Price            Close             Dividends              High              \
Ticker          BMO.TO       TD.TO    BMO.TO TD.TO      BMO.TO       TD.TO
Date
2025-12-01  173.820007  116.959999       0.0   0.0  176.250000  117.709999
2025-12-02  175.779999  118.199997       0.0   0.0  176.380005  118.220001
2025-12-03  177.020004  117.699997       0.0   0.0  177.210007  118.820000
2025-12-04  176.820007  120.089996       0.0   0.0  178.949997  120.410004
2025-12-05  178.240005  122.199997       0.0   0.0  179.570007  122.239998
2025-12-08  175.449997  122.150002       0.0   0.0  177.850006  122.760002
2025-12-09  175.229996  123.470001       0.0   0.0  176.720001  123.570000

Price              Low                    Open             Stock Splits        \
Ticker          BMO.TO       TD.TO      BMO.TO       TD.TO       BMO.TO TD.TO
Date
2025-12-01  172.880005  116.190002  175.800003  117.559998          0.0   0.0
2025-12-02  173.869995  116.150002  174.350006  117.459999          0.0   0.0
2025-12-03  175.750000  117.419998  175.750000  118.199997          0.0   0.0
2025-12-04  171.779999  116.599998  177.850006  117.680000          0.0   0.0
2025-12-05  177.020004  120.510002  177.210007  120.790001          0.0   0.0
2025-12-08  175.199997  121.709999  177.520004  122.000000          0.0   0.0
2025-12-09  175.050003  122.150002  175.949997  122.309998          0.0   0.0

Price        Volume
Ticker       BMO.TO    TD.TO
Date
2025-12-01  1836100  4762200
2025-12-02  3205700  5311400
2025-12-03  2179700  3334900
2025-12-04  4027600  6961000
2025-12-05  2410600  3842900
2025-12-08  3724800  4066900
2025-12-09  2020500  3491500

In [23]:
df.stack(level=1, future_stack=True).reset_index().columns

Index(['Date', 'Ticker', 'Adj Close', 'Close', 'Dividends', 'High', 'Low',
       'Open', 'Stock Splits', 'Volume'],
      dtype='object', name='Price')

In [ ]:
df.

In [11]:
ticker_list_2 = ['BMO.TOZO', 'TD.TOZO'] # Both wrong tickers

tickers_2 = yf.Tickers(ticker_list_2)
df2 = tickers_2.history(start='2025-12-01', end='2025-12-02')

$TD.TOZO: possibly delisted; no timezone found
$BMO.TOZO: possibly delisted; no timezone found
[*********************100%***********************]  1 of 2 completed

2 Failed downloads:
['TD.TOZO', 'BMO.TOZO']: possibly delisted; no timezone found

In [12]:
df2

Empty DataFrame
Columns: [(Adj Close, BMO.TOZO), (Adj Close, TD.TOZO), (Close, BMO.TOZO), (Close, TD.TOZO), (High, BMO.TOZO), (High, TD.TOZO), (Low, BMO.TOZO), (Low, TD.TOZO), (Open, BMO.TOZO), (Open, TD.TOZO), (Volume, BMO.TOZO), (Volume, TD.TOZO)]
Index: []

In [13]:
tickers.history(start='2025-12-01', end='2025-11-30') # Check nonsensical date assignment

$TD.TOZO: possibly delisted; no timezone found
$BMO.TO: possibly delisted; no price data found  (1d 2025-12-01 -> 2025-11-30) (Yahoo error = "Invalid input - start date cannot be after end date. startDate = 1764565200, endDate = 1764478800")
[*********************100%***********************]  2 of 2 completed

2 Failed downloads:
['TD.TOZO']: possibly delisted; no timezone found
['BMO.TO']: possibly delisted; no price data found  (1d 2025-12-01 -> 2025-11-30) (Yahoo error = "Invalid input - start date cannot be after end date. startDate = 1764565200, endDate = 1764478800")

Empty DataFrame
Columns: [(Adj Close, BMO.TO), (Adj Close, TD.TOZO), (Close, BMO.TO), (Close, TD.TOZO), (High, BMO.TO), (High, TD.TOZO), (Low, BMO.TO), (Low, TD.TOZO), (Open, BMO.TO), (Open, TD.TOZO), (Volume, BMO.TO), (Volume, TD.TOZO)]
Index: []

In [4]:
# What happens when we pull on a weekend/holiday?
df = valid_tickers.history(start='2026-01-17', end='2026-01-18')

$BMO.TO: possibly delisted; no price data found  (1d 2026-01-17 -> 2026-01-18)
$TD.TO: possibly delisted; no price data found  (1d 2026-01-17 -> 2026-01-18)
[*********************100%***********************]  1 of 2 completed

2 Failed downloads:
[*********************100%***********************]  1 of 2 completed['BMO.TO', 'TD.TO']: possibly delisted; no price data found  (1d 2026-01-17 -> 2026-01-18)

In [6]:
df.stack(level=1, future_stack=True).reset_index()

Empty DataFrame
Columns: [Date, Ticker, Adj Close, Close, High, Low, Open, Volume]
Index: []

In [ ]:
df = valid_tickers.history(start='2026-01-17', end='2026-01-18')

In [12]:
# Test time/timedelta
start_date = datetime(2026, 1, 2, 21, 0, 0)
end_date = start_date - timedelta(days=1)

In [13]:
df = valid_tickers.history(start=end_date, end=start_date)

[*********************100%***********************]  2 of 2 completed

In [14]:
df

Price            Close             Dividends              High             \
Ticker          BMO.TO       TD.TO    BMO.TO TD.TO      BMO.TO      TD.TO
Date
2026-01-02  181.610001  128.750961       0.0   0.0  181.610001  128.87988

Price              Low                    Open             Stock Splits        \
Ticker          BMO.TO       TD.TO      BMO.TO       TD.TO       BMO.TO TD.TO
Date
2026-01-02  178.309998  127.917867  178.899994  128.522844          0.0   0.0

Price        Volume
Ticker       BMO.TO    TD.TO
Date
2026-01-02  1827200  8585100

In [13]:
# What about when we do it on a weekday that isn't friday
start_date = datetime(2026, 1, 23, 21, 0, 0)
end_date = start_date - timedelta(days=1)
df = valid_tickers.history(start=end_date, end=start_date)
df

[*********************100%***********************]  2 of 2 completed

Price           Close             Dividends              High          \
Ticker         BMO.TO       TD.TO    BMO.TO TD.TO      BMO.TO   TD.TO
Date
2026-01-23  186.96994  130.369995       0.0   0.0  189.467899  130.75

Price             Low                    Open             Stock Splits        \
Ticker         BMO.TO       TD.TO      BMO.TO       TD.TO       BMO.TO TD.TO
Date
2026-01-23  185.33438  129.490005  189.348954  130.679993          0.0   0.0

Price        Volume
Ticker       BMO.TO    TD.TO
Date
2026-01-23  3910600  5496500

In [20]:
# Try to get jan 30 data for teck
teck_and_nwh = yf.Tickers(['TECK-B.TO','NWH-UN.TO'])
end_date = datetime(2026, 1, 30, 21, 0, 0)
start_date = end_date - timedelta(days=1)
df = teck_and_nwh.history(start=start_date, end=end_date)
df

[*********************100%***********************]  2 of 2 completed

Price          Close            Dividends                High             \
Ticker     NWH-UN.TO  TECK-B.TO NWH-UN.TO TECK-B.TO NWH-UN.TO  TECK-B.TO
Date
2026-01-30      5.59  73.080002      0.03       0.0      5.65  75.879997

Price            Low                 Open           Stock Splits            \
Ticker     NWH-UN.TO  TECK-B.TO NWH-UN.TO TECK-B.TO    NWH-UN.TO TECK-B.TO
Date
2026-01-30      5.52  72.510002      5.63      75.5          0.0       0.0

Price         Volume
Ticker     NWH-UN.TO TECK-B.TO
Date
2026-01-30    502940   1718632

In [19]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2026-01-30 00:00:00-05:00,75.5,75.879997,72.510002,73.080002,1718632,0.0,0.0

In [22]:
# Check tickers with rows that don't match website
end = datetime(2026, 1,30, 21, 0, 0)
start = end - timedelta(days=1)
_tickers = ['BDT.TO', 'BEI-UN.TO']
tickers = yf.Tickers(_tickers)
df = tickers.history(start=start, end=end, auto_adjust=False)

[*********************100%***********************]  2 of 2 completed

In [23]:
df.sort_values(by='Date', ascending=False)[['Open', 'High', 'Low', 'Close']]

Price            Open              High               Low             Close  \
Ticker         BDT.TO  BEI-UN.TO BDT.TO  BEI-UN.TO BDT.TO  BEI-UN.TO BDT.TO
Date
2026-01-30  30.290001  67.650002  30.48  68.900002  29.57  67.330002  30.16

Price
Ticker      BEI-UN.TO
Date
2026-01-30  68.849998

In [19]:
start2 = start - timedelta(days=7)
end2 = end - timedelta(days=7)

In [21]:
yf.Ticker("BDT.TO").history(start=start2, end=end2, auto_adjust=False)

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2026-01-21 00:00:00-05:00,29.950001,30.10,29.150000,29.590000,29.522444,141100,0.0,0.0
2026-01-22 00:00:00-05:00,29.660000,30.35,29.559999,30.240000,30.170959,256500,0.0,0.0
2026-01-23 00:00:00-05:00,30.230000,30.60,29.490000,29.639999,29.572329,201900,0.0,0.0

In [1]:
# Test what happens with blank dataframe
import pandas as pd
from etl.src.utils import load_query, extract_query
from etl.src.get_yfinance_price_data import get_daily_price_data, transform_price_data

In [3]:
df = get_daily_price_data(pd.DataFrame({'ticker':["TD.TO", "BMO.TO"]}), start_date='2026-01-17', end_date='2026-01-18')

$TD.TO: possibly delisted; no price data found  (1d 2026-01-17 -> 2026-01-18)
[                       0%                       ]$BMO.TO: possibly delisted; no price data found  (1d 2026-01-17 -> 2026-01-18)
[*********************100%***********************]  2 of 2 completed

2 Failed downloads:
['TD.TO', 'BMO.TO']: possibly delisted; no price data found  (1d 2026-01-17 -> 2026-01-18)

In [4]:
from dotenv import load_dotenv
load_dotenv()
import os

# Create db connection string
db_username = os.getenv("DB_USERNAME")
db_password = os.getenv("DB_PASSWORD")
db_host = os.getenv("DB_HOST")
db_port = os.getenv("DB_PORT")
db_name = os.getenv("DB_NAME")
db_conn_str = f"mysql+pymysql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}"

In [5]:
df

Empty DataFrame
Columns: [Date, Ticker, Close, High, Low, Open, Volume]
Index: []

In [6]:
load_query(table_name="raw_price_history", df=df, append=False, db_conn_str=db_conn_str)

In [7]:
raw_df = extract_query(table_name="raw_price_history", db_conn_str=db_conn_str)

In [8]:
raw_df

Empty DataFrame
Columns: [Date, Ticker, Close, High, Low, Open, Volume]
Index: []

In [9]:
trans_df = transform_price_data(raw_df)

In [10]:
trans_df

Empty DataFrame
Columns: [date, ticker, open, high, low, close, dividends, stock_splits, volume]
Index: []

In [30]:
valid_tickers.history(start='2025-01-01', end='2025-01-08')

[*********************100%***********************]  2 of 2 completed

Price            Close            Dividends              High             \
Ticker          BMO.TO      TD.TO    BMO.TO TD.TO      BMO.TO      TD.TO
Date
2025-01-02  133.923248  72.430397       0.0   0.0  135.197432  72.884865
2025-01-03  132.946060  73.642296       0.0   0.0  134.795054  73.689639
2025-01-06  132.160492  73.642296       0.0   0.0  134.038241  74.333465
2025-01-07  133.281372  74.305069       0.0   0.0  133.482565  74.522830

Price              Low                   Open            Stock Splits        \
Ticker          BMO.TO      TD.TO      BMO.TO      TD.TO       BMO.TO TD.TO
Date
2025-01-02  133.712495  72.278905  134.603457  72.875395          0.0   0.0
2025-01-03  132.725702  72.506136  134.248984  72.686023          0.0   0.0
2025-01-06  132.055108  73.557087  133.712513  74.153570          0.0   0.0
2025-01-07  132.294601  73.613900  132.639493  73.680176          0.0   0.0

Price        Volume
Ticker       BMO.TO     TD.TO
Date
2025-01-02  2036100  18507000
2025-01-03  1156500  17948300
2025-01-06  1750400  22054800
2025-01-07  1758100  22302900