In [1]:
import yfinance as yf

In [13]:
tickers = yf.Tickers(["GIL.TO","RY.TO"])
tickers.history(start="2025-12-30", end="2025-12-31")

[*********************100%***********************]  2 of 2 completed

Price           Close        Dividends             High              \
Ticker         GIL.TO  RY.TO    GIL.TO RY.TO     GIL.TO       RY.TO
Date
2025-12-30  85.900002  235.0       0.0   0.0  86.419998  235.940002

Price             Low               Open             Stock Splits        \
Ticker         GIL.TO       RY.TO GIL.TO       RY.TO       GIL.TO RY.TO
Date
2025-12-30  85.720001  234.910004   86.0  235.550003          0.0   0.0

Price       Volume
Ticker      GIL.TO    RY.TO
Date
2025-12-30  395500  1606300