In [1]:
from etl.src.get_yfinance_price_data import get_daily_price_data
from etl.src.utils import extract_query
from pendulum import datetime
from datetime import timedelta
import os

In [2]:
from dotenv import load_dotenv
load_dotenv()

# Create db connection string
db_username = os.getenv("DB_USERNAME")
db_password = os.getenv("DB_PASSWORD")
db_host = os.getenv("DB_HOST")
db_port = os.getenv("DB_PORT")
db_name = os.getenv("DB_NAME")
db_conn_str = f"mysql+pymysql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}"

In [3]:
import_query = """
SELECT ticker
FROM tickers
WHERE `active` = 'Y'
"""
ticker_list = extract_query(sql_query=import_query, db_conn_str=db_conn_str)

run_date = datetime(2026, 2, 6, 21)

start_date = run_date.date()
end_date = start_date + timedelta(days=1)
# Get data from yfinance
df = get_daily_price_data(ticker_list=ticker_list, start_date=start_date, end_date=end_date)

[*********************100%***********************]  50 of 50 completed
[*********************100%***********************]  50 of 50 completed
[**********************66%*******                ]  33 of 50 completed$NVA.TO: possibly delisted; no price data found  (1d 2026-02-06 -> 2026-02-07)
[*********************100%***********************]  50 of 50 completed

1 Failed download:
['NVA.TO']: possibly delisted; no price data found  (1d 2026-02-06 -> 2026-02-07)
[*********************100%***********************]  50 of 50 completed
[*********************100%***********************]  18 of 18 completed

In [5]:
df

Price,Date,Ticker,Close,Dividends,High,Low,Open,Stock Splits,Volume
0,2026-02-06,AAUC.TO,42.619999,0.0,43.099998,42.509998,42.700001,0.0,1052600.0
1,2026-02-06,AAV.TO,11.000000,0.0,11.020000,10.680000,10.870000,0.0,822500.0
2,2026-02-06,ABX.TO,61.750000,0.0,62.549999,61.200001,61.290001,0.0,5894900.0
3,2026-02-06,AC.TO,21.160000,0.0,21.350000,20.830000,20.900000,0.0,2392700.0
4,2026-02-06,ACO-X.TO,59.919998,0.0,60.820000,59.509998,60.610001,0.0,177100.0
...,...,...,...,...,...,...,...,...,...
213,2026-02-06,WN.TO,101.919998,0.0,102.820000,101.230003,101.699997,0.0,210700.0
214,2026-02-06,WPK.TO,47.240002,0.0,47.279999,45.369999,45.369999,0.0,109100.0
215,2026-02-06,WPM.TO,185.899994,0.0,187.309998,182.529999,182.529999,0.0,847300.0
216,2026-02-06,WSP.TO,265.839996,0.0,266.260010,261.089996,261.239990,0.0,458400.0
217,2026-02-06,X.TO,45.419998,0.0,48.599998,44.820000,48.450001,0.0,1524300.0

In [6]:
run_date = datetime(2026, 2, 2, 21)

start_date = run_date.date()
end_date = start_date + timedelta(days=1)
# Get data from yfinance
df = get_daily_price_data(ticker_list=ticker_list, start_date=start_date, end_date=end_date)

[*********************100%***********************]  50 of 50 completed
[*********************100%***********************]  50 of 50 completed
[*********************100%***********************]  50 of 50 completed
[*********************100%***********************]  50 of 50 completed
[*********************100%***********************]  18 of 18 completed

In [7]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Date, Ticker, Close, Dividends, High, Low, Open, Stock Splits, Volume]
Index: []