In [2]:
from pendulum import datetime
from datetime import timedelta
import pandas as pd
from etl.src.get_yfinance_price_data import get_daily_price_data

In [3]:
ticker_list = pd.DataFrame({"ticker": ["TD.TO", "BMO.TO", "EQB.TO", "POW.TO", "NWC.TO"]})
end_date = datetime(2026,2,3,21)
start_date = end_date - timedelta(days=1)

In [4]:
df = get_daily_price_data(ticker_list=ticker_list, start_date=start_date, end_date=end_date)

[*********************100%***********************]  5 of 5 completed

In [5]:
df

Price,Date,Ticker,Close,Dividends,High,Low,Open,Stock Splits,Volume
0,2026-02-02,BMO.TO,189.350006,0.0,190.160004,185.100006,185.339996,0.0,3500600
1,2026-02-02,EQB.TO,108.910004,0.0,109.139999,106.180000,106.180000,0.0,110800
2,2026-02-02,NWC.TO,49.730000,0.0,49.770000,48.400002,48.400002,0.0,125000
3,2026-02-02,POW.TO,69.180000,0.0,69.820000,68.820000,68.860001,0.0,2438900
4,2026-02-02,TD.TO,129.160004,0.0,129.479996,127.389999,127.550003,0.0,5445500
5,2026-02-03,BMO.TO,193.029999,0.0,193.080002,190.199997,191.000000,0.0,4707300
6,2026-02-03,EQB.TO,110.180000,0.0,112.110001,108.879997,108.879997,0.0,242700
7,2026-02-03,NWC.TO,50.939999,0.0,50.950001,49.410000,49.730000,0.0,141900
8,2026-02-03,POW.TO,68.040001,0.0,69.339996,67.900002,69.339996,0.0,1446200
9,2026-02-03,TD.TO,130.199997,0.0,130.389999,129.039993,129.649994,0.0,5593700

This is the issue... Need to change date configuration.

In [6]:
logical_date = datetime(2026,2,3,21)
start_date = logical_date.date()
end_date = start_date + timedelta(days=1)

In [7]:
df = get_daily_price_data(ticker_list=ticker_list, start_date=start_date, end_date=end_date)
df

[*********************100%***********************]  5 of 5 completed

Price,Date,Ticker,Close,Dividends,High,Low,Open,Stock Splits,Volume
0,2026-02-03,BMO.TO,193.029999,0.0,193.080002,190.199997,191.000000,0.0,4707300
1,2026-02-03,EQB.TO,110.180000,0.0,112.110001,108.879997,108.879997,0.0,242700
2,2026-02-03,NWC.TO,50.939999,0.0,50.950001,49.410000,49.730000,0.0,141900
3,2026-02-03,POW.TO,68.040001,0.0,69.339996,67.900002,69.339996,0.0,1446200
4,2026-02-03,TD.TO,130.199997,0.0,130.389999,129.039993,129.649994,0.0,5593700