In [1]:
import yfinance as yf

AttributeError: 'list' object has no attribute 'history'

In [9]:
ticker_list = ['BMO.TO', 'TD.TOZO'] # One valid, one invalid
tickers = yf.Tickers(ticker_list)

df = tickers.history(start='2025-12-01', end='2025-12-02')

$TD.TOZO: possibly delisted; no timezone found
[*********************100%***********************]  2 of 2 completed

1 Failed download:
['TD.TOZO']: possibly delisted; no timezone found

In [19]:
df

Price      Adj Close       Close         Dividends    High          \
Ticker       TD.TOZO      BMO.TO TD.TOZO    BMO.TO  BMO.TO TD.TOZO
Date
2025-12-01       NaN  173.820007     NaN       0.0  176.25     NaN

Price              Low                Open         Stock Splits   Volume  \
Ticker          BMO.TO TD.TOZO      BMO.TO TD.TOZO       BMO.TO   BMO.TO
Date
2025-12-01  172.880005     NaN  175.800003     NaN          0.0  1836100

Price
Ticker     TD.TOZO
Date
2025-12-01     NaN

In [20]:
# Longer history:
tickers.history(start='2025-12-01', end='2025-12-10') # Still not adj close

$TD.TOZO: possibly delisted; no timezone found
[*********************100%***********************]  2 of 2 completed

1 Failed download:
['TD.TOZO']: possibly delisted; no timezone found

Price      Adj Close       Close         Dividends        High          \
Ticker       TD.TOZO      BMO.TO TD.TOZO    BMO.TO      BMO.TO TD.TOZO
Date
2025-12-01       NaN  173.820007     NaN       0.0  176.250000     NaN
2025-12-02       NaN  175.779999     NaN       0.0  176.380005     NaN
2025-12-03       NaN  177.020004     NaN       0.0  177.210007     NaN
2025-12-04       NaN  176.820007     NaN       0.0  178.949997     NaN
2025-12-05       NaN  178.240005     NaN       0.0  179.570007     NaN
2025-12-08       NaN  175.449997     NaN       0.0  177.850006     NaN
2025-12-09       NaN  175.229996     NaN       0.0  176.720001     NaN

Price              Low                Open         Stock Splits   Volume  \
Ticker          BMO.TO TD.TOZO      BMO.TO TD.TOZO       BMO.TO   BMO.TO
Date
2025-12-01  172.880005     NaN  175.800003     NaN          0.0  1836100
2025-12-02  173.869995     NaN  174.350006     NaN          0.0  3205700
2025-12-03  175.750000     NaN  175.750000     NaN          0.0  2179700
2025-12-04  171.779999     NaN  177.850006     NaN          0.0  4027600
2025-12-05  177.020004     NaN  177.210007     NaN          0.0  2410600
2025-12-08  175.199997     NaN  177.520004     NaN          0.0  3724800
2025-12-09  175.050003     NaN  175.949997     NaN          0.0  2020500

Price
Ticker     TD.TOZO
Date
2025-12-01     NaN
2025-12-02     NaN
2025-12-03     NaN
2025-12-04     NaN
2025-12-05     NaN
2025-12-08     NaN
2025-12-09     NaN

In [22]:
# What about with two valid tickers?
valid_tickers = yf.Tickers(["TD.TO", "BMO.TO"])
valid_tickers.history(start='2025-12-01', end='2025-12-10')

[*********************100%***********************]  2 of 2 completed

Price            Close             Dividends              High              \
Ticker          BMO.TO       TD.TO    BMO.TO TD.TO      BMO.TO       TD.TO
Date
2025-12-01  173.820007  116.959999       0.0   0.0  176.250000  117.709999
2025-12-02  175.779999  118.199997       0.0   0.0  176.380005  118.220001
2025-12-03  177.020004  117.699997       0.0   0.0  177.210007  118.820000
2025-12-04  176.820007  120.089996       0.0   0.0  178.949997  120.410004
2025-12-05  178.240005  122.199997       0.0   0.0  179.570007  122.239998
2025-12-08  175.449997  122.150002       0.0   0.0  177.850006  122.760002
2025-12-09  175.229996  123.470001       0.0   0.0  176.720001  123.570000

Price              Low                    Open             Stock Splits        \
Ticker          BMO.TO       TD.TO      BMO.TO       TD.TO       BMO.TO TD.TO
Date
2025-12-01  172.880005  116.190002  175.800003  117.559998          0.0   0.0
2025-12-02  173.869995  116.150002  174.350006  117.459999          0.0   0.0
2025-12-03  175.750000  117.419998  175.750000  118.199997          0.0   0.0
2025-12-04  171.779999  116.599998  177.850006  117.680000          0.0   0.0
2025-12-05  177.020004  120.510002  177.210007  120.790001          0.0   0.0
2025-12-08  175.199997  121.709999  177.520004  122.000000          0.0   0.0
2025-12-09  175.050003  122.150002  175.949997  122.309998          0.0   0.0

Price        Volume
Ticker       BMO.TO    TD.TO
Date
2025-12-01  1836100  4762200
2025-12-02  3205700  5311400
2025-12-03  2179700  3334900
2025-12-04  4027600  6961000
2025-12-05  2410600  3842900
2025-12-08  3724800  4066900
2025-12-09  2020500  3491500

In [23]:
df.stack(level=1, future_stack=True).reset_index().columns

Index(['Date', 'Ticker', 'Adj Close', 'Close', 'Dividends', 'High', 'Low',
       'Open', 'Stock Splits', 'Volume'],
      dtype='object', name='Price')

In [ ]:
df.

In [11]:
ticker_list_2 = ['BMO.TOZO', 'TD.TOZO'] # Both wrong tickers

tickers_2 = yf.Tickers(ticker_list_2)
df2 = tickers_2.history(start='2025-12-01', end='2025-12-02')

$TD.TOZO: possibly delisted; no timezone found
$BMO.TOZO: possibly delisted; no timezone found
[*********************100%***********************]  1 of 2 completed

2 Failed downloads:
['TD.TOZO', 'BMO.TOZO']: possibly delisted; no timezone found

In [12]:
df2

Empty DataFrame
Columns: [(Adj Close, BMO.TOZO), (Adj Close, TD.TOZO), (Close, BMO.TOZO), (Close, TD.TOZO), (High, BMO.TOZO), (High, TD.TOZO), (Low, BMO.TOZO), (Low, TD.TOZO), (Open, BMO.TOZO), (Open, TD.TOZO), (Volume, BMO.TOZO), (Volume, TD.TOZO)]
Index: []

In [13]:
tickers.history(start='2025-12-01', end='2025-11-30') # Check nonsensical date assignment

$TD.TOZO: possibly delisted; no timezone found
$BMO.TO: possibly delisted; no price data found  (1d 2025-12-01 -> 2025-11-30) (Yahoo error = "Invalid input - start date cannot be after end date. startDate = 1764565200, endDate = 1764478800")
[*********************100%***********************]  2 of 2 completed

2 Failed downloads:
['TD.TOZO']: possibly delisted; no timezone found
['BMO.TO']: possibly delisted; no price data found  (1d 2025-12-01 -> 2025-11-30) (Yahoo error = "Invalid input - start date cannot be after end date. startDate = 1764565200, endDate = 1764478800")

Empty DataFrame
Columns: [(Adj Close, BMO.TO), (Adj Close, TD.TOZO), (Close, BMO.TO), (Close, TD.TOZO), (High, BMO.TO), (High, TD.TOZO), (Low, BMO.TO), (Low, TD.TOZO), (Open, BMO.TO), (Open, TD.TOZO), (Volume, BMO.TO), (Volume, TD.TOZO)]
Index: []

In [15]:
df["wrong_column"]

KeyError: 'wrong_column'