In [2]:
# import packages
import pandas as pd
import os

# Load file path from .env
from dotenv import load_dotenv
load_dotenv()

sp_csv_path = os.getenv("SP_CSV_PATH")

In [10]:
# Specify date - this would be passed by Airflow
load_date = '2017-05-01'

In [4]:
# Load file
# First, check for the number of files in the folder
files = os.listdir(sp_csv_path)

# Get csvs
csv_files = [f for f in files if f.endswith(".csv")]

# Set file prefix
file_prefix = "S&P 500 Historical Components & Changes"

In [22]:
# Load file if prefix is valid and it is the only file
if len(csv_files) > 1:
    print("More than one csv file in folder. Make sure only the csv file needed to update is in folder.")
elif not csv_files[0].startswith(file_prefix):
    print("The file prefix is not the expected prefix. Are you sure the file is correct?")
else:
    full_path = os.path.join(sp_csv_path, csv_files[0])
    df = pd.read_csv(full_path)
    print("File loaded succesfully.")

File loaded succesfully.

In [23]:
df = df[df["date"] == load_date]

In [24]:
# Split tickers into their own rows
df.loc[:,'tickers'] = df['tickers'].str.split(",")
df_melted = df.explode('tickers').reset_index(drop = True)

In [25]:
df_melted

           date tickers
0    2017-05-01       A
1    2017-05-01    AABA
2    2017-05-01     AAL
3    2017-05-01     AAP
4    2017-05-01    AAPL
..          ...     ...
501  2017-05-01     XYL
502  2017-05-01     YUM
503  2017-05-01     ZBH
504  2017-05-01    ZION
505  2017-05-01     ZTS

[506 rows x 2 columns]

In [ ]:
# Push to db