In [1]:
# Pull yfinance price data for listings in the tsx constituent db table
# Import packages
import yfinance as yf
import os
import pandas as pd
from dotenv import load_dotenv

# Import utilities
from etl.utils.utils import extract_query, load_query

In [5]:
load_dotenv()

# Create db connection string
db_username = os.getenv("DB_USERNAME")
db_password = os.getenv("DB_PASSWORD")
db_host = os.getenv("DB_HOST")
db_port = os.getenv("DB_PORT")
db_name = os.getenv("DB_NAME")
db_conn_str = f"mysql+pymysql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}"

In [6]:
# Import current constituent list - get both ticker and id
import_query = """
SELECT ticker
FROM tickers
WHERE `active` = 'Y'
"""

ticker_list = extract_query(sql_query=import_query, db_conn_str=db_conn_str)

In [7]:
# Set start date and end date - These would be set by airflow
start_date = input("Enter start date (yyyy-mm-dd): ").strip()
end_date = input("Enter end date (yyyy-mm-dd): ").strip()

In [8]:
# Create list for batch exports
dfs = []

In [9]:
i = 0
size = 50
while i < len(ticker_list):
    _tickers = yf.Tickers(ticker_list['ticker'].iloc[i:i+size].to_list())
    df = _tickers.history(start = start_date, end = end_date)
    df = df.stack(level=1, future_stack=True).reset_index()
    dfs.append(df)
    i += size

[*********************100%***********************]  50 of 50 completed
[*********************100%***********************]  50 of 50 completed
[*********************100%***********************]  50 of 50 completed
[*********************100%***********************]  50 of 50 completed
[*********************100%***********************]  18 of 18 completed

In [10]:
# Combine dfs
combined_df = pd.concat(dfs, ignore_index=True)

In [11]:
combined_df

Price,Date,Ticker,Close,Dividends,High,Low,Open,Stock Splits,Volume
0,2025-11-03,AAUC.TO,21.799999,0.0,22.139999,21.219999,21.500000,0.0,576400
1,2025-11-03,AAV.TO,11.520000,0.0,11.640000,11.050000,11.100000,0.0,612700
2,2025-11-03,ABX.TO,46.251278,0.0,46.559949,45.454701,45.803202,0.0,7547400
3,2025-11-03,AC.TO,18.850000,0.0,19.080000,18.410000,18.410000,0.0,3780200
4,2025-11-03,ACO-X.TO,52.222553,0.0,52.519778,51.687546,52.182922,0.0,97500
...,...,...,...,...,...,...,...,...,...
4355,2025-11-28,WN.TO,95.528381,0.0,96.156396,95.279168,95.937087,0.0,192100
4356,2025-11-28,WPK.TO,44.080002,0.0,44.259998,43.889999,44.240002,0.0,17100
4357,2025-11-28,WPM.TO,153.470001,0.0,153.960007,150.699997,151.520004,0.0,784800
4358,2025-11-28,WSP.TO,244.449997,0.0,246.100006,244.100006,246.100006,0.0,247700
4359,2025-11-28,X.TO,51.299999,0.0,51.430000,51.110001,51.430000,0.0,319900

In [18]:
# Rename columns
combined_df.columns = combined_df.columns.str.lower().str.replace(" ","_")

In [19]:
# Reorder columns
combined_df = combined_df[["date", "ticker", "open", "high", "low", "close", "dividends", "stock_splits", "volume"]]

In [20]:
combined_df

Price,date,ticker,open,high,low,close,dividends,stock_splits,volume
0,2025-11-03,AAUC.TO,21.500000,22.139999,21.219999,21.799999,0.0,0.0,576400
1,2025-11-03,AAV.TO,11.100000,11.640000,11.050000,11.520000,0.0,0.0,612700
2,2025-11-03,ABX.TO,45.803202,46.559949,45.454701,46.251278,0.0,0.0,7547400
3,2025-11-03,AC.TO,18.410000,19.080000,18.410000,18.850000,0.0,0.0,3780200
4,2025-11-03,ACO-X.TO,52.182922,52.519778,51.687546,52.222553,0.0,0.0,97500
...,...,...,...,...,...,...,...,...,...
4355,2025-11-28,WN.TO,95.937087,96.156396,95.279168,95.528381,0.0,0.0,192100
4356,2025-11-28,WPK.TO,44.240002,44.259998,43.889999,44.080002,0.0,0.0,17100
4357,2025-11-28,WPM.TO,151.520004,153.960007,150.699997,153.470001,0.0,0.0,784800
4358,2025-11-28,WSP.TO,246.100006,246.100006,244.100006,244.449997,0.0,0.0,247700
4359,2025-11-28,X.TO,51.430000,51.430000,51.110001,51.299999,0.0,0.0,319900

In [ ]:
# Load data to database table
load_query(table_name="price_history", df=combined_df, append=True, db_conn_str=db_conn_str)

In [2]:
# Try to pull history with one ticker that is wrong and another that is right
tickers = yf.Tickers(["TD.TO","TD.TOZO", "DOC.TO"])

In [6]:
yf.Ticker("TD.TOZO").info

HTTP Error 404: {"quoteSummary":{"result":null,"error":{"code":"Not Found","description":"Quote not found for symbol: TD.TOZO"}}}

{'trailingPegRatio': None}